<h1 style="text-align: center;">Products</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
           
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= link_to product.name, product %></td>
                <td><%= product.price %></td>
            
            </tr>
        <% end %>
    </tbody>
</table>